# BEGIN ANSIBLE MANAGED BLOCK
{% for section, values in ansible_git_config.config.items() %}
[{{ section }}]
{% for key, value in values.items() %}
    {{ key }} = {{ value }}
{% endfor %}
{% endfor %}
# END ANSIBLE MANAGED BLOCK