# BEGIN ANSIBLE MANAGED BLOCK
{% for section, values in git_config.config.iteritems() %}
[{{ section }}]
{% for key, value in values.iteritems() %}
    {{ key }} = {{ value }}
{% endfor %}
{% endfor %}
# END ANSIBLE MANAGED BLOCK